# ==================================

# PYTHON

# ==================================

backend/venv/
**pycache**/
*.pyc
*.pyo
*.pyd

# ==================================

# REPORTS & UPLOADS

# ==================================

backend/reports/
backend/uploads/

# ==================================

# NODE MODULES

# ==================================

frontend/node_modules/

# ==================================

# BUILD FILES

# ==================================

frontend/dist/

# ==================================

# ENVIRONMENT FILES

# ==================================

.env
*.env

# ==================================

# DATABASE

# ==================================

*.db
*.sqlite3

# ==================================

# OS FILES

# ==================================

.DS_Store
Thumbs.db
